*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.head{
    display: flex;
    background-color: rgb(33, 97, -100);
    color: aliceblue;
    line-height: 50px;
}
.child:nth-child(3) ol{
    list-style: none;
    display: flex;
}

.child:nth-child(3) li{
    flex-grow: 1;
}
.main{
    background-image: url(./image/background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.child:nth-child(2) img{
    width: 14%;
    border-radius: 100%;
    position: relative;
    top: 16%;
}
.child:nth-child(1){
    flex-grow: 1;
}
.child:nth-child(2){
    width: 10%;
    flex-grow: 1;
}
.child:nth-child(3){
    flex-grow: 4;
}
.child:nth-child(4){
    flex-grow: 1;
}
.child:nth-child(5){
    flex-grow: 1;
    margin: auto;
}
.child:nth-child(5) input{
    padding: 5px 15px;
}

.write{
    position: relative;
    top: 4px;
    background-color: rgb(33, 97, -100);
    height: 30vh;
    color: aliceblue;
}
.flex{
    display: flex;
}

.flex img{
    width: 15%;
    border-radius: 15%;
    height: 69%;
    position: relative;
    left: 21%
}
.flex p{
    width: 40%;
    position: relative;
    left: 10%;
    bottom: -8vh;
    transition: 1s linear 0s;
}
.flex p:hover{
    transform: scale(1.1);
}
.write h1{
    position: relative;
    left: 45%;
    transition: 1s linear 0s;
}
.write h1:hover{
    color: rgb(4, 149, 4);
}
.footer{
    display: flex;
    background-color:rgb(33, 97, -100) ;
    position: relative;
    top: 4px;
    line-height: 50vh;
}
.img img{
    width: 52vh;
    border-radius: 100%;
    position: relative;
    top: 10vh;
}
.footer .extra_for_grow{
    flex-grow: 0.3;
}
.img{
    flex-grow: 0.3;
}
.right{
    flex-grow: 1;
}
.right input{
    padding: 5px 15px;
}
.right button{
    padding: 6px 8px;
    background: green;
    color: white;
    border: none;
}